<div class="title-section">
  <h1>Contenu à valider</h1>
</div>
<div class="pink-after">
  <img src="assets/images/pink-after.svg">
</div>

<div class="section-card">
  <div *ngFor="let content of requestContents" class="card card-articles mat-elevation-z1" [routerLink]="['/content-request', content.id]">
    <app-card-image [content]="content"></app-card-image>
    <div class="content-card">
      <h3>{{content.name}}</h3>
      <p>{{content.description}}</p>
      <div class="section-chips">
        <mat-chip-set>
          <mat-chip>
            #{{content.themes[0].name}}
          </mat-chip>
          <mat-chip *ngIf="(content.themes?.length || 0) > 1">
            +{{content.themes.length - 1}}
          </mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </div>
</div>

