<section class="add-content-section">
  <h2>Ajouter un contenu</h2>
  <div *ngIf="loading" class="loader">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading && form">
    <section class="card">
      <mat-form-field appearance="outline">
        <mat-label>Nom de l'article</mat-label>
        <input matInput [formControl]="asFormControl(form.get('name'))">
        <mat-error>
          <ng-container *ngTemplateOutlet="errorDisplay; context: {errors: form.get('name')?.errors}"></ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Thèmes de l'article</mat-label>
        <mat-select [formControl]="asFormControl(form.get('themes'))" multiple>
          <mat-select-trigger>
            {{form.get('themes')?.value[0]?.name || ''}}
            <span *ngIf="form.get('themes')?.value?.length > 1">
              (+{{form.get('themes')?.value?.length - 1}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let theme of themes" [value]="theme">{{theme.name}}</mat-option>
        </mat-select>
        <mat-error>
          <ng-container *ngTemplateOutlet="errorDisplay; context: {errors: form.get('themes')?.errors}"></ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="asFormControl(form.get('description'))"></textarea>
        <mat-error>
          <ng-container *ngTemplateOutlet="errorDisplay; context: {errors: form.get('description')?.errors}"></ng-container>
        </mat-error>
      </mat-form-field>
    </section>

    <section class="card" *ngFor="let mediaControl of asFormArray(form.get('medias')).controls; let index = index">
      <mat-icon class="delete-media" (click)="deleteMedia(index)">remove_circle_outline</mat-icon>

      <mat-form-field appearance="outline">
        <mat-label>Titre du media</mat-label>
        <input matInput [formControl]="asFormControl(mediaControl.get('name'))">
        <mat-icon matPrefix class="prefix-icon">{{mapMediaToIcon(mediaControl.value.type)}}</mat-icon>
        <mat-error>
          <ng-container *ngTemplateOutlet="errorDisplay; context: {errors: mediaControl.get('name')?.errors}"></ng-container>
        </mat-error>
      </mat-form-field>

      <ng-container *ngIf="mediaControl.value.type.slug === 'text'">
        <angular-editor
          [formControl]="asFormControl(mediaControl.get('description'))"
          [config]="editorConfig"
        ></angular-editor>
        <mat-error *ngIf="mediaControl.get('description')?.touched || mediaControl.get('description')?.value">
          <ng-container *ngTemplateOutlet="errorDisplay; context: {errors: mediaControl.get('description')?.errors}"></ng-container>
        </mat-error>
      </ng-container>

      <ng-container *ngIf="mediaControl.value.type.slug !== 'text'">
        <input type="file" class="file-input"
               [accept]="'.'+mediaControl.value.type.extensions.join(',.')"
               (change)="onFileSelected($event, mediaControl)" #fileUpload>

        <mat-form-field appearance="outline">
          <mat-label>Description du media</mat-label>
          <textarea matInput [formControl]="asFormControl(mediaControl.get('description'))"></textarea>
          <mat-error>
            <ng-container *ngTemplateOutlet="errorDisplay; context: {errors: mediaControl.get('description')?.errors}"></ng-container>
          </mat-error>
        </mat-form-field>

        <div class="upload-btn" (click)="fileUpload.click()">
          <ng-container *ngIf="mediaControl.value.file === null" [ngSwitch]="mediaControl.value.type.slug">
            <span *ngSwitchCase="'image'">Ajouter une image*</span>
            <span *ngSwitchCase="'video'">Ajouter une video*</span>
            <span *ngSwitchCase="'podcast'">Ajouter un podcast*</span>
            <span *ngSwitchCase="'file'">Ajouter un fichier*</span>
          </ng-container>
          <span *ngIf="mediaControl.value.file !== null">
            {{mediaControl.value.file.name || 'Fichier ajouté'}}
          </span>

          <button mat-mini-fab color="primary">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
        <mat-error *ngIf="(mediaControl.get('file')?.touched || mediaControl.get('file')?.value) && mediaControl.get('file')?.errors">
          <ng-container *ngTemplateOutlet="errorDisplay; context: {errors: mediaControl.get('file')?.errors}"></ng-container>
        </mat-error>
      </ng-container>
    </section>

    <section class="card add-media-card" (click)="openDialog()">
      <div class="add-media">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Ajouter un media</span>
      </div>
      <mat-error *ngIf="form.get('medias')?.touched && form.get('medias')?.errors">
        <ng-container *ngTemplateOutlet="errorDisplay; context: {errors: form.get('medias')?.errors}"></ng-container>
      </mat-error>
    </section>

    <div class="submit-button">
      <button mat-raised-button color="primary" (click)="submit()" [disabled]="loading || submitting">
        <span *ngIf="!submitting">Publier</span>
        <span *ngIf="submitting">Enregistrement ...</span>
      </button>
    </div>
  </div>
</section>

<ng-template #errorDisplay let-errors="errors">
  <span *ngIf="errors?.required">Ce champ est requis</span>
  <span *ngIf="errors?.minlength">Ce champ doit contenir au moins {{errors?.minlength.requiredLength}} caractères</span>
  <span *ngIf="errors?.maxlength">Ce champ doit contenir maximum {{errors?.maxlength.requiredLength}} caractères</span>
  <span *ngIf="errors?.maxFileSize">Ce fichier doit faire maximum {{errors?.maxFileSize.maxSize / 1024 / 1024}}Mo</span>
</ng-template>
