<section>
  <h2>Ajouter un contenu</h2>
  <div *ngIf="loading" class="loader">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading && this.form">
    <section class="card">
      <mat-form-field appearance="outline">
        <mat-label>Nom de l'article</mat-label>
        <input matInput [formControl]="asFormControl(this.form.get('name'))">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Thèmes de l'article</mat-label>
        <mat-select [formControl]="asFormControl(this.form.get('themes'))" multiple>
          <mat-select-trigger>
            {{this.form.get('themes')?.value[0]?.name || ''}}
            <span *ngIf="this.form.get('themes')?.value?.length > 1">
              (+{{this.form.get('themes')?.value?.length - 1}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let theme of themes" [value]="theme">{{theme.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="asFormControl(this.form.get('description'))"></textarea>
      </mat-form-field>
    </section>

    <section class="card" *ngFor="let mediaControl of asFormArray(this.form.get('medias')).controls; let index = index">
      <mat-icon class="delete-media" (click)="deleteMedia(index)">remove_circle_outline</mat-icon>

      <mat-form-field appearance="outline">
        <mat-label>Titre du media</mat-label>
        <input matInput [formControl]="asFormControl(mediaControl.get('name'))">
        <mat-icon matPrefix class="prefix-icon">{{mapMediaToIcon(mediaControl.value.type)}}</mat-icon>
      </mat-form-field>

      <ng-container *ngIf="mediaControl.value.type.slug === 'text'">
        <angular-editor
          [formControl]="asFormControl(mediaControl.get('description'))"
          [config]="editorConfig"
        ></angular-editor>
      </ng-container>

      <ng-container *ngIf="mediaControl.value.type.slug !== 'text'">
        <input type="file" class="file-input"
               [accept]="'.'+mediaControl.value.type.extensions.join(',.')"
               (change)="onFileSelected($event, mediaControl)" #fileUpload>

        <mat-form-field appearance="outline">
          <mat-label>Description du media</mat-label>
          <textarea matInput [formControl]="asFormControl(mediaControl.get('description'))"></textarea>
        </mat-form-field>

        <div class="upload-btn" (click)="fileUpload.click()">
          <ng-container *ngIf="mediaControl.value.file === null" [ngSwitch]="mediaControl.value.type.slug">
            <span *ngSwitchCase="'image'">Ajouter une image</span>
            <span *ngSwitchCase="'video'">Ajouter une video</span>
            <span *ngSwitchCase="'podcast'">Ajouter un podcast</span>
            <span *ngSwitchCase="'file'">Ajouter un fichier</span>
          </ng-container>
          <span *ngIf="mediaControl.value.file !== null">
            {{mediaControl.value.file.name || 'Fichier ajouté'}}
          </span>

          <button mat-mini-fab color="primary">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      </ng-container>
    </section>

    <section class="card add-media-card" (click)="openDialog()">
      <div class="add-media">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Ajouter</span>
      </div>
    </section>

    <div class="submit-button">
      <button mat-raised-button color="primary" (click)="submit()">Publier</button>
    </div>
  </div>
</section>
