:host{
  .add-content-section {
    padding: 16px;
  }

  .file-input {
    display: none;
  }

  .loader {
    mat-spinner {
      width: 48px !important;
      height: 48px !important;
      margin: auto;
    }
  }

  .card {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border: 1px solid #E1E5EA;
    border-radius: 16px;
    background-color: #fff;
    color: #000;
    margin-bottom: 16px;
    position: relative;

    &.add-media-card {
      padding: 16px;
      cursor: pointer;
    }

    .add-media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background: #F1F6FC;
      border: 1px dashed #ACC8EE;
      border-radius: 4px;
      padding: 16px;

      mat-icon {
        font-size: 24px;
        color: #75A3E3;
      }
      span {
        color: #355070;
      }
    }

    .upload-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      cursor: pointer;
    }

    .delete-media {
      position: absolute;
      top: 8px;
      right: 8px;
      color: #5D738D;
      cursor: pointer;
    }

    mat-form-field {
      width: 100%;
    }

    .prefix-icon {
      color: #5D738D;
    }

  }
  button {
    &.mat-primary {
      background-color: #5D738D;
      color: white;
    }
  }
  .submit-button {
    display: flex;
    justify-content: flex-end;
  }
}

