<mat-toolbar class="mat-elevation-z8">
  <div class="logo">
    <img src="assets/images/logo.png">
  </div>
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <mat-divider></mat-divider>
    <div class="flex-section">
      <div class="buttons">
        <button mat-button class="menu-button" (click)="sidenav.toggle()" routerLink="/accueil">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-button class="menu-button" (click)="sidenav.toggle()" routerLink="/theme">
          <mat-icon>book</mat-icon>
          <span>Articles</span>
        </button>
      </div>
      <div>
        <button mat-button class="menu-button" (click)="sidenav.toggle()" routerLink="/login">
          <mat-icon>person</mat-icon>
          <span>Compte</span>
        </button>
        <button mat-button class="menu-button" (click)="sidenav.toggle()" routerLink="/">
          <mat-icon>exit_to_app</mat-icon>
          <span>Déconnexion</span>
        </button>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
