mat-toolbar {
  background: #FFFFFF;
  color: #5D738D;
  justify-content: space-between;
  padding: 0 20px;
}

.logo{
  height: 100%;
  img {
    height: 100%;
  }
}

mat-sidenav {
  width: 100%;
  border-right: none;
  background: #FFFFFF;
  text-align: center;
}

.content {
  height: calc(100vh - 96px);
  padding: 16px;
  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 10px;

  .mat-icon {
    margin-left: 10px;
  }
}

.mat-mdc-button:not(:disabled){
  color: #5D738D;
}

.mat-mdc-button, .mat-mdc-outlined-button{
  --mat-mdc-button-persistent-ripple-color: #75A3E3;
}

.navbar {
  display: flex;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.flex-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}
