mat-toolbar {
  background: #FFFFFF;
  color: #5D738D;
  justify-content: space-between;
  padding: 0 20px;
}

.logo{
  height: 100%;
  img {
    height: 100%;
  }
}

mat-sidenav {
  border-right: none;
  background: #FFFFFF;
  text-align: center;
  width: 100%;
}

mat-sidenav-container {
  height: calc(100vh - 56px)
}

mat-sidenav-content{
  overflow: auto;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 10px;

  .mat-icon {
    margin-left: 10px;
  }
}

.mat-mdc-button:not(:disabled){
  color: #5D738D;
}

.mat-mdc-button, .mat-mdc-outlined-button{
  --mat-mdc-button-persistent-ripple-color: #75A3E3;
}

.navbar {
  display: flex;
}

.buttons{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.flex-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 550px;
}
