<div class="title-section">
  <h1>Mon profil</h1>
</div>
<div class="pink-after">
  <img src="assets/images/pink-after.svg">
</div>

<div class="success-alert">
  <div class="success-content">
    <div>
      <mat-icon>check_circle</mat-icon>
    </div>
    <div>
      <h1>Validé</h1>
      <p>Vous venez de déclarer la naissance de votre enfant !</p>
    </div>
  </div>
  <div>
    <mat-icon>close</mat-icon>
  </div>
</div>

<div class="title-articles">
  <p>Des articles qui pourraient vous intérésser</p>
</div>
<div class="section-card-home">
  <div *ngFor="let content of contents" class="card card-articles mat-elevation-z1" [routerLink]="['/content', content.id]">
    <app-card-image [content]="content"></app-card-image>
    <div class="content-card">
      <h3>{{content.name}}</h3>
      <p>{{content.description}}</p>
      <div class="section-chips">
        <mat-chip-set>
          <mat-chip>
            #{{content.themes[0].name}}
          </mat-chip>
          <mat-chip *ngIf="(content.themes?.length || 0) > 1">
            +{{content.themes.length - 1}}
          </mat-chip>
        </mat-chip-set>
        <div class="section-commentaire-goutte">
          <div *ngIf="content.likes.length > 0"  class="goutte-commentaire">
            <div>
              <img src="assets/images/goutte.png" alt="goutte">
            </div>
            <div class="number">{{content.likes.length}}</div>
          </div>
          <div *ngIf="content.opinions.length > 0"  class="goutte-commentaire">
            <div>
              <img src="assets/images/commentaire.png" alt="goutte">
            </div>
            <div class="number">{{content.opinions.length}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="details-button">
  <button mat-raised-button (click)="openNaissancePage()" color="primary">
    <mat-icon>add_circle_outline</mat-icon>
    Plus d'articles
  </button>
</div>
