<div class="title-section">
  <h1>Découvrir</h1>
</div>
<div class="pink-after">
  <img src="assets/images/pink-after.svg">
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Articles">
    <div class="section-card">
      <div class="card mat-elevation-z1">
        <div class="image-card">
          <img src="https://img.20mn.fr/xaXGIhosRzqELLhafBG-1Sk/1200x768_plusieurs-professionnels-de-sante-racontent-qu-ils-ont-a-de-nombreuses-reprises-etaient-filmes-ou-enregistres-a-leur-insu-par-des-patients-en-pleine-consultation" alt="image">
        </div>
        <div class="content-card">
          <h3>Titre</h3>
          <p>description</p>
          <div class="section-chips">
            <mat-chip-set>
              <mat-chip>
                #média
              </mat-chip>
              <mat-chip>
                #média
              </mat-chip>
            </mat-chip-set>
            <div class="section-commentaire-goutte">
              <div class="goutte-commentaire">
                <div>
                  <img src="assets/images/goutte.png" alt="goutte">
                </div>
                <div class="number">12</div>
              </div>
              <div class="goutte-commentaire">
                <div>
                  <img src="assets/images/commentaire.png" alt="goutte">
                </div>
                <div class="number">24</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Questions">
    Questions
  </mat-tab>
</mat-tab-group>
