:host {

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  p {
    word-wrap: break-word;
  }

  .content-detail {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .centered {
      display: flex;
      justify-content: center;
      align-items: center;

      mat-spinner {
        width: 48px !important;
        height: 48px !important;
        margin: auto;
      }
    }

    .content {
      box-sizing: border-box;
      width: 100%;
      padding: 16px;
      border: 1px solid #E1E5EA;
      border-radius: 16px;
      background-color: #fff;
      color: #000;
      position: relative;
    }

    .comment-section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .comment p {
        font-size: 12px;
        margin: 0;
      }

      .message {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 10px;
        gap: 8px;

        &.message-me {
          border: 1px solid #3B7A87;
          margin-left: 10px;
        }

        &.message-other {
          border: 1px solid #CC9200;
          margin-right: 10px;
        }

        .user {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .badge {
            border-radius: 4px;
            padding: 0 5px 0 5px;
            color: white;
            font-size: 12px;

            &.badge-me {
              border: 1px solid #3B7A87;
              background-color: #3B7A87;
            }

            &.badge-other {
              border: 1px solid #CC9200;
              background-color: #EBA800;
            }

          }

          .name {
            display: flex;
            gap: 10px;
            align-items: flex-end;

            .firstname {
              font-size: 12px;
            }

            .photo {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid white;
              border-radius: 50%;
              background-color: #91B5E9;
              width: 25px;
              height: 25px;
              color: white;
              font-size: 10px;
            }

          }

        }

      }

    }

    .stat-icon {
      display: flex;
      flex-direction: row;
      gap: 3px;
      align-items: flex-end;
      > img {
        width: 12px;
      }

      .commentary-icon {
        width: 16px;
      }
    }

    .statistics {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 16px auto 0;
    }

    .medias {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .media {
        h2 {
          margin: 16px 0 8px;
        }

        audio, video, img, a {
          margin-top: 8px;
        }
      }
    }

    .download-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      width: fit-content;
      text-decoration: none;
      color: #5D738D;
    }

    .main-media {
      margin-bottom: 10px;
    }

    video, img {
      width: 100%;
    }

    .media-description {
      font-style: italic;
      color: #1b1b1b;

      strong {
        font-size: 14px;
      }
    }
  }

  button {
    &.mat-primary {
      background-color: #5D738D;
      color: white;
    }
  }

  .themes {
    margin-bottom: 8px;
  }

  .add-comment {
    box-sizing: border-box;
    background: white;
    width: 100%;
    border: 1px solid #E1E5EA;
    border-radius: 16px;
    padding: 8px;
    margin-top: 8px;

    .login-button {
      text-align: center;
    }

    .comment-container {
      display: flex;
      justify-content: center;
      margin-top: 22px;

      mat-form-field {
        width: 80%;
        margin-right: 10px;
      }
      button {
        margin-top: 8px;
      }
    }

  }
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  > .mat-primary {
    background-color: white;
    color: #75A3E3;
    border: 1px solid #75A3E3;
  }

  > .mat-accent {
    background-color: white;
    color: #E67377;
    border: 1px solid #E67377;
  }
}

.action-button {
  width: 47%;
}

.goutte-animation {
  transition: transform 0.2s ease;
  transform: scale(1.5);
}

.goutte-animation-out {
  transition: transform 0.2s ease;
  transform: scale(1);
}
