:host {
  p {
    word-wrap: break-word;
  }

  .content-detail {
    padding: 16px;

    .centered {
      display: flex;
      justify-content: center;
      align-items: center;

      mat-spinner {
        width: 48px !important;
        height: 48px !important;
        margin: auto;
      }
    }

    .content {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 32px;
      border: 1px solid #E1E5EA;
      border-radius: 16px;
      background-color: #fff;
      color: #000;
      position: relative;
    }

    .stat-icon {
      display: flex;
      flex-direction: row;
      gap: 3px;
      align-items: flex-end;
      > img {
        width: 12px;
      }

      .commentary-icon {
        width: 16px;
      }
    }

    .statistics {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      width: 100px;
      margin: 16px auto 0;
    }

    .medias {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .media {
        h2 {
          margin: 16px 0 8px;
        }

        audio, video, img, a {
          margin-top: 8px;
        }
      }
    }

    .download-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      width: fit-content;
      text-decoration: none;
      color: #5D738D;
    }

    .main-media {
      margin-bottom: 10px;
    }

    video, img {
      width: 100%;
    }

    .media-description {
      font-style: italic;
      color: #1b1b1b;

      strong {
        font-size: 14px;
      }
    }
  }

  button {
    &.mat-primary {
      background-color: #5D738D;
      color: white;
    }
  }
}
