<article class="content-detail">
  <section *ngIf="loading" class="centered">
    <mat-spinner></mat-spinner>
  </section>
  <section *ngIf="!loading && !content" class="centered">
    <p>Oups, une erreur est survenue :(</p>
  </section>
  <section *ngIf="!loading && content">
    <div class="main-content">
      <div class="main-media" *ngIf="mainMedia">
        <ng-container *ngTemplateOutlet="mediaTemplate; context: {media: mainMedia};"></ng-container>
      </div>

      <div class="themes">
        <mat-chip-set>
          <mat-chip *ngFor="let theme of content.themes">
            #{{theme.name}}
          </mat-chip>
        </mat-chip-set>
      </div>

      <div class="content">
        <h1>{{ content.name }}</h1>
        <p>{{ content.description }}</p>
        <ng-container *ngIf="content.likes.length || content.opinions.length">
          <mat-divider></mat-divider>
          <div class="statistics">
            <div *ngIf="content.likes.length > 0 && content.status === 'validated'" (click)="addLike()" class="stat-icon">
              <img id="goutte" src="assets/images/goutte.png" alt="goutte">
              <span>{{content.likes.length}}</span>
            </div>
            <div *ngIf="content.opinions.length > 0 && content.status === 'validated'" class="stat-icon">
              <img src="assets/images/commentaire.png" alt="commentaire" class="commentary-icon">
              <span>{{content.opinions.length}}</span>
            </div>
          </div>
        </ng-container>

        <div class="medias">
          <div *ngFor="let media of content.media" class="media">
            <ng-container *ngTemplateOutlet="mediaTemplate; context: {media: media};"></ng-container>
          </div>
        </div>
      </div>

      <div class="add-comment">
        <div class="comment-container" *ngIf="email_me">
          <mat-form-field appearance="outline">
            <mat-label>Ajouter un commentaire</mat-label>
            <textarea matInput [formControl]="commentControl"></textarea>
            <mat-error>
              <ng-container *ngTemplateOutlet="errorDisplay; context: {errors: commentControl.errors}"></ng-container>
            </mat-error>
          </mat-form-field>
          <button mat-mini-fab color="primary" [disabled]="commentControl.invalid || submitting" (click)="onSubmit()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
        <div *ngIf="!email_me" class="login-button">
          <a mat-raised-button color="primary" (click)="goToLogin()">Se connecter pour commenter</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <h2>Commentaire</h2>
      <div class="comment-section" *ngIf="content">
        <div *ngFor="let opinion of content.opinions" [ngClass]="email_me === opinion.author.email ? 'message-me' : 'message-other'" class="message">
          <div class="user">
            <div class="name">
              <div class="photo">{{opinion.author.lastname.slice(0,1).toUpperCase() + opinion.author.firstname.slice(0,1).toUpperCase()}}</div>
              <div class="firstname">{{opinion.author.lastname.toUpperCase() + " " + opinion.author.firstname}} :</div>
            </div>
            <div [ngClass]="email_me === opinion.author.email ? 'badge-me' : 'badge-other'" class="badge">{{getRole(opinion.author.roles)}}</div>
          </div>
          <div class="comment">
            <p>{{opinion.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<div *ngIf="!loading && content" class="action-buttons">
  <button
    mat-raised-button
    color="primary"
    class="action-button"
    (click)="validateContent()"
  >
    Publier
  </button>
  <button
    mat-raised-button
    color="accent"
    class="action-button"
    (click)="rejectContent()"
  >
    Rejeter
  </button>
</div>

<ng-template #mediaTemplate let-media="media">
  <ng-container [ngSwitch]="media.type.slug">
    <ng-container *ngSwitchCase="'image'" >
      <img [src]="media.url" alt="{{media.name}}">
      <small class="media-description"><strong>{{media.name}}</strong> : {{media.description}}</small>
    </ng-container>
    <ng-container *ngSwitchCase="'video'" >
      <video controls>
        <source [src]="media.url">
      </video>
      <small class="media-description"><strong>{{media.name}}</strong> : {{media.description}}</small>
    </ng-container>
    <ng-container *ngSwitchCase="'podcast'" >
      <div>
        <audio controls>
          <source [src]="media.url">
        </audio>
      </div>
      <small class="media-description"><strong>{{media.name}}</strong> : {{media.description}}</small>
    </ng-container>

    <a *ngSwitchCase="'file'" [href]="media.url" download target="_blank" class="download-button">
      {{ media.name }}
      <button mat-mini-fab color="primary">
        <mat-icon>download</mat-icon>
      </button>
    </a>
    <div *ngSwitchCase="'text'">
      <h2>{{media.name}}</h2>
      <div [innerHTML]="media.description | safeHtml"></div>
    </div>
  </ng-container>
</ng-template>

<ng-template #errorDisplay let-errors="errors">
  <span *ngIf="errors?.required">Ce champ est requis</span>
  <span *ngIf="errors?.minlength">Ce champ doit contenir au moins {{errors?.minlength.requiredLength}} caractères</span>
  <span *ngIf="errors?.maxlength">Ce champ doit contenir maximum {{errors?.maxlength.requiredLength}} caractères</span>
</ng-template>
